<form>
  <div class="container">
    <p>Datos Deportivos</p>
    <div class="form-group row">
      <label for="deporte" class="col-sm-4 col-form-label">Deporte:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="deporte" placeholder="Deporte" required> 
      </div>
    </div>
    <div class="form-group row">
      <label for="entrenador" class="col-sm-4 col-form-label">Nombre del entrenador:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="entrenador" placeholder="Entrenador" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="categoria" class="col-sm-4 col-form-label">Categoría:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="categoria" placeholder="Categoría" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="asociacion" class="col-sm-4 col-form-label">Asociación:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="asociacion" placeholder="Asociación" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="fechadeinicio" class="col-sm-4 col-form-label">Fecha de inicio:</label>
        <div class="col-sm-1">
        <input type="date" name="fechadeinicio" min="2020-08-21" max="2024-08-21" required/>
            <span class="validity"></span>
        </div>    
    </div>
    <div class="form-group row">
      <label for="lugardeentrenamiento" class="col-sm-4 col-form-label">Lugar de entrenamiento:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="lugardeentrenamiento" placeholder="Lugar de entrenamiento" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="horaentrada" class="col-sm-4 col-form-label">Hora de Entrada:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="horaentrada" placeholder="Hora de Entrada" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="horasalida" class="col-sm-4 col-form-label">Hora de salida:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="horasalida" placeholder="Hora de salida" required>
      </div>
    </div>
    <br/>
    <p>Competencias</p>
    <div class="form-group row">
      <label for="deportecompetencia" class="col-sm-4 col-form-label"> Deporte:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="deportecompetencia" placeholder="Deporte" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="competencia" class="col-sm-4 col-form-label">Nombre de la competencia:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="competencia" placeholder="Nombre de la competencia" required> 
      </div>
    </div>
    <div class="form-group row">
      <label for="sede" class="col-sm-4 col-form-label">Sede:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="sede" placeholder="Deporte" required> 
      </div>
    </div>
    <div class="form-group row">
      <label for="patrocinador" class="col-sm-4 col-form-label">Patrocinador:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="patrocinador" placeholder="Patrocinador" required> 
      </div>
    </div>
    <div class="form-group row">
      <label for="fechainicio" class="col-sm-4 col-form-label">Fecha de inicio:</label>
        <div class="col-sm-1">
        <input type="date" name="fechainicio"min="2020-08-21" max="2024-08-21" required/>
            <span class="validity"></span>
        </div>    
    </div>
    <div class="form-group row">
      <label for="fechatermino" class="col-sm-4 col-form-label">Fecha de termino:</label>
        <div class="col-sm-1">
        <input type="date" name="fechatermino"min="2020-08-21" max="2024-08-21" required/>
            <span class="validity"></span>
        </div>    
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Modificar datos</button>
    
  </div>
</form>
